@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&family=Oswald&display=swap');

.header {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: rgb(218, 29, 29);
  margin: 25px auto 50px;
}

.link {
  font-family: 'Oswald', sans-serif;
}

h3 {
  text-align: center;
}
