@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap');

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: rgb(218, 29, 29);
}
